<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display4">Sathish Yannapu</h1>
        <h3>Fullstack Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/sathish-yannapu/" target="_blank" class="">
            <img src="../../assets/download.png" width="24" height="24" class="rounded-circle  me-2"/>
         
        </a>
        <a href="https://github.com/ysathish" target="_blank" class="">
            <img src="../../assets/git.png" width="24" height="24" class="rounded-circle  me-2"/>
         
        </a>
    </div>
</div>