<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contant</h1>
        <p>I can reached at the following email: <b>ysathish1234@gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/sathish-yannapu/" target="_blank" class="list-group-item list-group-item-action gap-3 py-3">
            <img src="../../assets/download.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5"/>
          <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="https://github.com/ysathish" target="_blank" class="list-group-item list-group-item-action gap-3 py-3">
            <img src="../../assets/git.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5"/>
          <h3 class="mb-0">GitHUb</h3>
        </a>

    </div>
</div>