<div class="container text-center">
    <button (click)="downloadPDF()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <div style="text-align: left;">
                    <h2 class="mb-0">Fullstack Developer</h2>
                    <h3 class="text-primary">Zefere Naviagations</h3>
                    
                </div>
    
            </accordion-group>
            <accordion-group heading="Education">
                <div style="text-align: left;">
                    <h2 class="mb-0">Btech</h2>
                    <h3 class="text-primary">JNTUH</h3>
                    <ul>
                        <li>Graduated from Anurag College Of Engineering</li>
                        <li>Graaduated with a 6.9 GPA</li>
                    </ul>
                </div>
    
            </accordion-group>
            <accordion-group heading="Certifications">
                <div style="text-align: left;">
                    <h3>Java</h3>
                    <h3>Spring boot</h3>
                    <h3>git</h3>
                    <h3>docker</h3>
                    <h3>Web Development</h3>
    
                </div>
    
            </accordion-group>
            <accordion-group heading="Skills">
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Langauges : </h3>
                        <ul>
                            <li>html</li>
                            <li>css</li>
                            <li>javaScript</li>
                            <li>TypeScript</li>
                            <li>java</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks : </h3>
                        <ul>
                            <li>Angular</li>
                            <li>ionic framwork</li>
                            <li>jhipster</li>
                            <li>springboot</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills : </h3>
                        <ul>
                            <li>Source control via git</li>
                            <li>agile Development</li>
                            <li>MVC Architecture</li>
                        </ul>
                    </div>
    
                </div>
    
            </accordion-group>
        </accordion>
    </div>
   
</div>